:root {
  /* Fonts */
  --color-primary: #000;
  --color-secondary: #808080;
  --large-font-size: 4rem;
  --medium-font-size: 3rem;
  --small-font-size: 2rem;
  --very-small-font-size: 1.5rem;
  --primary-font-family: "Ubuntu", sans-serif;
  --secondary-font-family: "Rubik", sans-serif;

  /* Icons */
  --primary-icon-size: 4rem;
  --secondary-icon-size: 2.4rem;

  /* Background colors */
  --primary-background-color: #f8f9fa;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr auto;
  place-content: center;
  justify-items: center;
  min-height: inherit;
}

.main-container {
  margin: 40px 0;
  width: 90%;
  max-width: 900px;
}

.todo-list-section__title {
  text-align: center;
  font-size: var(--large-font-size);
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-style: normal;
}

.todo-list-section__add-new-task {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}

.todo-list-section__icon {
  transition: transform 0.5s ease;
  cursor: pointer;
  width: var(--primary-icon-size);
}

.todo-list-section__icon--rotate {
  transform: rotate(90deg);
}

.todo-list-section__form,
.task-container__edit-form {
  width: 100%;
}

.task-container__icon {
  width: var(--secondary-icon-size);
  cursor: pointer;
}

.task-container__icon--hover:hover {
  background-image: url("../assets/icons/check.svg");
}

.todo-list-section__input {
  border: none;
  font-size: var(--medium-font-size);
  font-family: var(--secondary-font-family);
  font-weight: 300;
  font-style: normal;
  width: 100%;
  color: var(--color-secondary);
}

.todo-list-section__input:focus,
.task-container__edit-input:focus {
  outline: none;
}

.tasks-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
  margin: 40px 0;
}

.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--primary-background-color);
}

.task-container__group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-container__group--left {
  flex: 2;
}

.task-container__task-description,
.completed-tasks-section__details {
  font-size: var(--small-font-size);
  color: var(--color-primary);
  font-family: var(--secondary-font-family);
  font-weight: 300;
  font-style: normal;
}

.task-container__edit-input {
  border: none;
  font-size: var(--small-font-size);
  font-family: var(--secondary-font-family);
  font-weight: 300;
  font-style: normal;
  color: var(--color-primary);
  background: transparent;
  width: 100%;
}

.completed-tasks-section__arrow-right-icon,
.completed-tasks-section__details {
  color: var(--color-secondary);
  display: inline-block;
  vertical-align: middle;
}

.task-container__task-description--line-through {
  text-decoration: line-through;
}

.completed-tasks-section__details {
  width: 100%;
  user-select: none;
}

.completed-tasks-section__summary {
  cursor: pointer;
  max-width: 180px;
}

.inactive {
  display: none;
}

.normal-cursor {
  cursor: default;
}

.box-alert {
  display: flex;
  align-items: center;
  gap: 12px;
  position: fixed;
  bottom: 12px;
  left: 12px;
  padding: 16px;
  border-radius: 10px;
  max-width: 260px;
  background-color: var(--color-primary);
}

.box-alert__message {
  font-family: var(--secondary-font-family);
  font-size: var(--very-small-font-size);
  font-style: normal;
  color: var(--primary-background-color);
}

.box-alert__message--undo {
  font-weight: bold;
  cursor: pointer;
}

.credits-footer {
  margin-bottom: 12px;
  text-align: center;
  font-size: var(--very-small-font-size);
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-style: normal;
  color: var(--color-secondary);
}

.credits-footer__name {
  color: var(--color-primary);
}
